<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1089356401281-dqk8oa0r4t0rhfb2eoh9hh3qldsns920.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1089356401281-dqk8oa0r4t0rhfb2eoh9hh3qldsns920</string>
	<key>API_KEY</key>
	<string>AIzaSyBsHBNNTWD-D6tIqsmpNRXYd9qaIWrj0VE</string>
	<key>GCM_SENDER_ID</key>
	<string>1089356401281</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.deamdeveloper.market</string>
	<key>PROJECT_ID</key>
	<string>market-f836b</string>
	<key>STORAGE_BUCKET</key>
	<string>market-f836b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1089356401281:ios:fcec28f7af875ef2c91b80</string>
</dict>
</plist>